* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

header{
    padding: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(255, 255, 255);
}

.cont-header {
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

.link-logo {
    font-size: 37px;
    color: rgb(118, 163, 205);
}

.links {
    display: flex;
    align-items: center;
}

.cont-link {
    font-size: 15PX;
    margin-left: 35px;
    text-align: center;
    color: rgb(118, 163, 205);
}

.link-logo:hover, .cont-link:hover {
    color: rgb(57, 92, 125);
    transition: 0.2s;
}

.bloque-1 {
    background-color: rgb(193, 224, 225);
    display: flex;
    justify-content: space-evenly;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.blo1-texto {
    width: 423px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo-texto {
    font-size: 27px;
    color: rgb(118, 163, 205);
    
}

.nombre {
    font-family: 'Playfair Display', serif;
}

.texto-texto {
    font-size: 13px;
    width: 356px;
    color: rgb(108, 129, 146);
}

#descrip {
    font-family: 'Roboto', sans-serif;
}

.banner {
    width: 400px;
}


/*Esto es para poner las habilidades
  pero por el momento no*/
/*
.habilidades {
    flex-direction: column;
    background-color: rgb(234, 234, 234);
}

.txt-habilidades{
    text-align: center;
    font-size: 25px;
    padding-top: 50px;
    color: aquamarine;
}

.cont-habilidades {
    
    margin-top: 50px;
    margin-bottom: 50px;
}

.hab-titu {
    text-align: center;
}

.habili {
    display: flex;
    justify-content: space-evenly;
}*/